#line1{
	width: 30%;
	float: left;
}
.first{
	text-align: center;
}

nav{

	float: right;
	width: 70%
}

.second{
	margin-left: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.about1{

	border-right: solid 1px green;
}
